@{
    ViewBag.Title = "Detail";
}

<h1>@ViewBag.id</h1>

State: <span class="state @ViewBag.state.Item2">@ViewBag.state.Item2</span>
@switch((string)ViewBag.state.Item2) {
    case "building":
        <span>started @(((DateTime?)ViewBag.state.Item1).Value.Diff()) ago</span>
        break;
    case "idle":
        <span>last built @(ViewBag.state.Item1 == null ? "never" : ((DateTime?)ViewBag.state.Item1).Value.Diff().ToString() + " ago")</span>
        break;
    case "failed":
        <span>@(((DateTime?)ViewBag.logcreated).Value.Diff()) ago</span>
        break;
}


@if(ViewBag.logcreated != null) {
    <a href="@Url.Action("log", new { id = ViewBag.id })" style="font-size:9pt;">see build log &rarr;</a>
}

<div>
    Webhook: <code style="background-color:#eee;">@Request.Url.GetLeftPart(UriPartial.Authority)/apps/hook/@ViewBag.id</code>
</div>
<br />
@using(Html.BeginForm(new { action = "build", id = @ViewBag.id })) {
    <input type="submit" value="build now" />
}

<h3>config</h3>
<dl style="font-family:monospace;font-size:9pt;">
@foreach(var pair in ViewBag.config) {
    <dt style="font-weight:bold">@pair.Key</dt>
    <dd>@pair.Value</dd>
}
</dl>


