<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@(ViewBag.Title != null ? ViewBag.Title + " | ": null)Deploy</title>
    <link href="@Url.Content("~/content/main.css")" rel="stylesheet" type="text/css" />
</head>

<body>
    @if(User.Identity.IsAuthenticated) {
    <ul id="nav">
        <li>@Html.ActionLink("apps", "index", new { controller = "root" })</li>
        <li>@Html.ActionLink("logout", "logout", new { controller = "root" })</li>   
    </ul>
    }
    @if(TempData["flash"] != null) {
        <div id="flash">@Html.Raw(TempData["flash"] as string)</div>
    }
    @RenderBody()
</body>
</html>
